/* RESPONSIVE GLOBAL STYLES
-------------------------------------------------- */
@media (max-width: 767px) {
	h1 {
		font-size: 36px;
		line-height: 36px;
	}
	
	h2 {
		font-size: 30px;
		text-transform: uppercase;
		line-height: 30px;
	}

	h3 {
		font-size: 26px;
		line-height: 26px;
	}

	h4 {
		font-size: 20px;
		line-height: 20px;
	}

	h5 {
		font-size: 16px;
		line-height: 16px;
		margin-bottom: 3px;
		margin-top: 3px;
	}

	h6 {
		font-size: 14px;
		line-height: 14px;
		margin: 0;
	}
}

/* RESPONSIVE HEADER / NAV-BAR
-------------------------------------------------- */
#menu-button {
	border: 1px solid #555555;
	cursor: pointer;
	border-radius: 5px;
	bottom: 0;
	height: 26px;
	vertical-align: middle;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.sticky #menu-button{
	position: fixed;
	top: 7px;
	right: 5%;
}

#menu-button:hover, #menu-button.pressed {
	background-color: #333333;
}


.drop-down {
	position: absolute;
	right: 5%;
	bottom: 100%;
	text-align: right;
}

.drop-down li.nav-bar-item, .drop-down li.nav-bar-item a{
	text-align: right;
	margin: 0;
}

.sticky .drop-down {
	position: absolute;
	top: 95%;
	bottom: initial;
	right: -10%;
	background-color: #231F20;
	z-index: 555000;
	padding: 10px;
	border-radius: 5px;
}

.drop-down .nav-bar-item {
	display: block;
	clear: both;
}

.drop-down {
	display: none;
}

@media (max-width: 900px) {
	.nav-bar {
	}
	
	#small-logo {
		width: 200px;
	}
	
	#small-logo.sticky {
		top: 16px;
	}
}

@media (min-width: 768px) {
	.nav-bar.media-lg { display: block; }
	.nav-bar.media-sm { display: none; }
}

@media (max-width: 767px) {
	.nav-bar.media-lg { display: none; }
	.nav-bar.media-sm { display: block; }
	.nav-bar { min-width: 300px;}
}

/* RESPONSIVE ABOUT ME
-------------------------------------------------- */
@media (max-width: 767px) {
	#about-page .grid-cell {
		width: 100%;
		max-height: 50%;
	}
	
	#about-page #about-reka-block {
		margin-top: 20px;
	}

	#about-page #reka-cell {
		text-align: center;
	}
	#about-page #reka-image {
		position: relative;
	}
}

@media (max-width: 570px) {
	#about-page #reka-cell {
	}
	
	#about-page .about-me-title, #about-page #and {
		font-size: 40px;
		line-height: 40px;
		margin-bottom: 0;
	}
	
	#about-page #philosophy {
		font-size: 23px;
		margin-top: 15px;
	}
}


/* RESPONSIVE SKILLS PAGE
-------------------------------------------------- */
@media (max-height: 455px), (max-width: 900px) {
	#skills-page h5 {
		font-size: 20px;
		line-height: 20px;
	}
}

@media (max-width: 767px) {
	#skills-page .grid {
		padding: 0;
	}
	
	#skills-page .skill-card {
		width: 49.0%;
		height: 33.33333%;
		max-width: none;
		margin: 0;
		border: 0;
	}
	
	#skills-page {
		height: 150%;
	}
	
	#skills-page .skill-icon {
		margin-bottom: 2%;
	}
	
	#skills-page h5 {
		margin-bottom: 10px;
	}
}

@media (max-width: 767px) and (max-height: 300px) {
	#skills-page h5 {
		font-size: 16px;
		line-height: 10px;
	}
}

/* RESPONSIVE CONTACT ME
-------------------------------------------------- */
