/* GLOBAL STYLES (for common html elements)
-------------------------------------------------- */
html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

body {
	color: #5a5a5a;
	font-family: 'Source Sans Pro', sans-serif;

}

a, a:hover, a:link, a:focus, a:visited, a:active {
	text-decoration: none;
}

div {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

h1 {
	font-size: 46px;
	text-transform: uppercase;
}

h2 {
	font-size: 40px;
	text-transform: uppercase;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 26px;
	line-height: 26px;
	margin-bottom: 5px;
	margin-top: 5px;
}

h6 {
	font-size: 20px;
	line-height: 20px;
	margin: 0;
}

a:link, a:visited {
	outline: none;
	border: none;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* STYLING FOR PAGES AND CUSTOM CLASSES
-------------------------------------------------- */
.page {
	width: 100%;
	height: calc(100% - 52px);
	
	height: 100%;
	height: -webkit-calc(100% - 52px);
	height: -moz-calc(100% - 52px);
	height: calc(100% - 52px);
	
	margin: 0;
	padding: 0;
	position: relative;
	background-color: white;
	overflow: hidden;
	
	min-height: 355px;
	min-width: 320px;
	
	overflow-x: hidden;
}

.page.small-page {
	height: 75%;
}

.v-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.h-center2 {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.h-center {
	display : block;
	margin-left: auto;
	margin-right: auto;
}

.h-right {
	position: absolute;
	right: 0;
}

.grid {
	width: 100%;
	height: 100%;
	padding: 0;
	position: relative;
	overflow: hidden;
}

.grid-cell {
	display: inline-block;
	clear: none;
	margin: 0;
	padding: 0;
	
	width: 33%;		/* Default styling of a grid cell */
	height: 100%;
	
	max-height: 100%;
	max-width: 100%;
	
	margin-bottom: 0;
}

.hidden {
	display: none;
}

/* Whenever you want a little margin */
.wrapper {
	padding: 0px;
	width: 90%;
	height: 100%;
	position: relative;
}

/* SPLASH PAGE
-------------------------------------------------- */
#splash-page {
	background: #231F20;
	height: 100%;
}

.page#splash-page {
	min-width: initial;
}

.title-image {
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	
	transition: width 2s, height 2s, left 2s, top 2s;
	-moz-transition: width 2s, height 2s, left 2s, top 2s;
	-o-transition: width 2s, height 2s, left 2s, top 2s;
	-webkit-transition: width 2s, height 2s, left 2s, top 2s;
}

#small-logo {
	position: absolute;
	bottom: 0;
	left: 5%;
	z-index: 100;
	width: 300px;
	height: auto;
	padding-bottom: 13px;
	background-color: transparent;
	opacity: 0;
	
	transition: opacity 2s, width 0.5s, height 0.5s;
	-webkit-transition: opacity 2s, width 0.5s, height 0.5s;
	-o-transition: opacity 2s, width 0.5s, height 0.5s;
	-moz-transition: opacity 2s, width 0.5s, height 0.5s;
}

#small-logo.sticky {
	position: fixed;
	top: 11px;
	opacity: 1;
	
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	-moz-transition: opacity 1s;
}

.nav-bar {
	display: block;
	list-style-type: none;
	text-align: right;
	
	position: absolute;
	width: 100%;
	padding-right: 5%;
	right: 0;
	bottom: 0;
	
	padding-top: 13px;
	padding-bottom: 13px;
	
	margin: 0;
	background-color: transparent;
}

.nav-bar .nav-bar-item {
	display: inline-block;
	padding: 0;
	margin-left: 4%;
}
.nav-bar .nav-bar-item:first-child {
	margin-left: 0;
}

.nav-bar-item,
.nav-bar-item a,
.nav-bar-item a:link,
.nav-bar-item a:hover,
.nav-bar-item a:visited,
.nav-bar-item a:active {
	color: #E2E0F5;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 26px;
	line-height: 26px;
	
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	-moz-transition: color 0.3s;
}

.nav-bar .nav-bar-item a:hover,
.nav-bar .nav-bar-item a:active,
.nav-bar .nav-bar-item a.active {
	color: #319CC3;
}

.nav-bar.sticky {
	position: fixed;
	top: 0;
	bottom: auto;
	height: 26px;
	z-index: 50;
	background-color: #231F20;
}

.nav-bar.sticky ul {
	margin-right: 10%;
}

/* ABOUT PAGE
-------------------------------------------------- */
#about-page {
	background-image: url('../assets/paper.png');
	background-color: #ABACAF;
	z-index: -20;
}

#about-page .grid {
	position: static;
}

#about-page .grid-cell {
	width: 50%;
	height: 100%;
}

#about-page #about-reka-block {
	display: block;
	text-align: center;
	width: 100%;
	z-index: 1;
}

#reka-image {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	padding: 0;
	position: absolute;
	bottom: 0;
	right: 0;
}

#reka-image.sticky {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: -10;
	max-width: 50%;
}

.about-me-title, #and {
	display: inline-block;
	font-size: 60px;
	color: #303030;
}

#and {
	font-family: 'Niconne', cursive;
	margin-left: 2%;
	margin-right: 2%;
}

#philosophy {
	font-size: 32px;
	font-family: 'Cardo', serif;
	font-style: italic;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	color: #303030;
}

/* SKILLS PAGE
-------------------------------------------------- */
#skills-page {
	background: white;
}

#skills-page .wrapper {
	height: 90%;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	overflow: visible;
}

#skills-page .grid {
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: visible;
}

#skills-page .skill-card {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 0;
	padding: 0;
	max-width: 33.333%;
	height: 50%;
}

.skill-card h5 , .skill-card img{
	
}

#skills-page .skill-icon {
	width: 35%;
	height: 35%;
	margin-bottom: 20px;
}

/* PROJECTS PAGE
-------------------------------------------------- */

#project-header {
	height: 200px;
	width: 100%;
	max-width: 100%;
	background-color: #231F20;
	display: block;
	color: white;
	text-align: center;
}

#project-header h1 {
	line-height: 200px;
	font-size: 100px;
	margin: 0;
}

.project h1, .project h2, .project h3, .project h4, .project h5, .project h6 {
	display: inline-block;
	clear: none;
}

.project h2 {
	text-transform: initial;
}

.project {
	font-size: 20px;
}

.project .wrapper {
	height: 80%;
	padding: 0px;
	width: 80%;
}

.project .grid {
	height: 100%;
	width: 100%;
	padding: 0px;
}

.project .grid-sizer {
	width: 25%;
}

.project .grid-cell {
	height: 100%;
	width: 50%;
	margin: 0;
}

.project .thumbnails {
	width: 100%;
	height: 99%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 2px;
	z-index: 5;
	border: 1px solid #EAEAEA;
}

.project .project-dscrp {
	width: 90%;
	margin-left: 10%;
}

.project .links {
	position: relative;
	top: 15px;
}

.ext-link {
	font-size: 16px;
	margin-right: 4%;
	color: #5a5a5a;
}

.ext-link:hover {
	color: #319CC3;
}

.project .grid-sizer {
	width: 25%;
}

/* CONTACT PAGE
-------------------------------------------------- */

#contact-page {
	background-color: #EFEFEF;
	height: 100%;
	text-align: center;
}

#contact-header {
	padding-top: 10%;
}

#contact-header p {
	margin-top: 2%;
	font-size: 40px;
}


#contact-img {
	margin-top: 3%;
	max-width: 100%;
}

.media-icon {
	display: inline-block;
	height: 60px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: 4%;
	opacity: 0.5;
}

.media-icon:hover {
	opacity: 0.8;
}

#portfolio {
	
}
