/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
  color: #5a5a5a;
}

.v-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.h-center {
	margin-left: auto;
	margin-right: auto;
	display : block;
}

.splash-page {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: #231F20;
}

.splash-page .title-image {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.my-container {
	width: 1366px;
	margin-left: auto;
	margin-right: auto;
}

